.round-borders {
  border-radius: 15px;
}
.thin-borders {
  border: 1px;
  border-color: #35A513;
  border-style: solid;
  border-radius: 10px;
}
.thin-borders-hover {
  border: 1px;
  border-color: #42a9d4;
  border-style: solid;
  border-radius: 10px;
}
img#header {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #188E33;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #42a9d4;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  color: #B2DB2C;
}
.article {
  padding: 6px;
  margin: 4px;
  border: 1px;
  border-color: #35A513;
  border-style: solid;
  border-radius: 10px;
}
.article a:hover {
  border: 1px;
  border-color: #42a9d4;
  border-style: solid;
  border-radius: 10px;
}
.articlePreview {
  padding: 6px;
  margin: 4px;
  border: 1px;
  border-color: #35A513;
  border-style: solid;
  border-radius: 10px;
}
.articlePreview b {
  color: #42a9d4;
  padding: 6px -2;
}
.largeArticle {
  padding: 6px;
  margin: 4px;
  border: 1px;
  border-color: #35A513;
  border-style: solid;
  border-radius: 10px;
  border-color: #42a9d4;
}
.largeArticle p {
  color: #35A513;
  padding: 6px;
}
ul {
  background-color: #188E33;
  border: 20px 10px;
  border: 1px;
  border-color: #35A513;
  border-style: solid;
  border-radius: 10px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #188E33;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #42a9d4;
}
ul.topnav li a.active {
  background-color: #35A513;
}
ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
row.borders {
  border: 10px;
}

table.resultsTable {
  border: 1px solid #35A513;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.resultsTable td, table.resultsTable th {
  border: 1px solid #35A513;
  padding: 3px 2px;
}
table.resultsTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #35A513;
}
table.resultsTable thead {
  background: #42A9D4;
  background: -moz-linear-gradient(top, #71bedf 0%, #55b1d8 66%, #42A9D4 100%);
  background: -webkit-linear-gradient(top, #71bedf 0%, #55b1d8 66%, #42A9D4 100%);
  background: linear-gradient(to bottom, #71bedf 0%, #55b1d8 66%, #42A9D4 100%);
  border-bottom: 2px solid #35A513;
}
table.resultsTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #35A513;
}
table.resultsTable thead th:first-child {
  border-left: none;
}

table.resultsTable tfoot td {
  font-size: 14px;
}
table.resultsTable tfoot .links {
  text-align: right;
}
table.resultsTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
