[Unit]
Description=uWSGI instance to serve mygarden
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/mygarden
Environment="PATH=/home/ubuntu/mygarden/mygardenenv/bin"
ExecStart=/home/ubuntu/mygarden/mygardenenv/bin/uwsgi --ini mygarden.ini

[Install]
WantedBy=multi-user.target
