<!DOCTYPE html>
<html lang="en">
<!-- Capstone Project SWDV691 -->
<!-- John Zaiss -->

<head>
  <title>My Garden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/js/mustache.js"></script>
  <script type="text/javascript" src="/static/js/data.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <img id="header" src="/static/images/Picture1.png" alt="Start digging">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ul class="topnav">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/create">Create</a></li>
          <li><a href="/update">Update</a></li>
          <li><a href="/dig">Dig in My Garden</a></li>
          <li class="right"><a href="/search">Search</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="article">
          <h2>Active Features</h2>
          <p>
            The Search function is implemented
          </p>
          <p>
            Search by the Full Name of a plant, needs to be an exact match 
            Use 'all' in the search bar to display all plants in the database
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="largeArticle">
          <h2>Features Under Development</h2>
          <p>
            <h3>The create tab</h3>
            This is where new items could be added
          </p>
          <p>
            <h3>The update tab</h3>
            This is where existing items could be updated
          </p>
          <p>
            <h3>The Dig in My Garden tab</h3>
            This is where advanced search can help find plants by properties
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>