<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>My Garden Search</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by plant name or details, or all to see all the data" name="plant">
            <button type="submit">
            </button>
        </form>
        <center>
        {% for item in data %}
            <tr>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
            </tr>
        {% endfor %}
        </center>
    </body>