<!-- Search Bar -->
<!DOCTYPE html>
<html lang="en">
<!-- Capstone Project SWDV691 -->
<!-- John Zaiss -->

<head>
    <title>My Garden Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/mustache.js"></script>
    <script type="text/javascript" src="/static/js/data.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img id="header" src="/static/images/Picture1.png" alt="Start digging">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="topnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/update">Update</a></li>
                    <li><a href="/dig">Dig in My Garden</a></li>
                    <li class="right"><a class="active" href="/search">Search</a></li>
                </ul>
            </div>
        </div>
        <h1>
            <center>My Garden Search</center>
        </h1>
        <form class="form-inline mr-auto" method="post" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search plant by full name" aria-label="Search"
                name="plant">
            <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <br>
        <hr>
        <center>
            <table>
                {% for item in data %}
                <tr>
                    <td>{{item[1]}}<br>Zone(s): {{item[2]}}</td>
                    
                </tr>
                <hr>
                {% endfor %}
            </table>
        </center>
    </div>
</body>